.no-orders-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-orders-image {
  width: 375px;
  height: 300px;
}

.no-orders-heading {
  color: #1E293B;
  font-family: "DM Sans";
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

.no-orders-description {
  color: #64748B;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.order-now-button {
  background-color: #F7931E;
  color: #fff;
  font-family: "DM Sans";
  border: 0;
  height: 38px;
  width: 120px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .no-orders-image {
    width: 203px;
    height: 175px
  }

  .no-orders-container {
    padding: 0;
    justify-content: flex-end;
  }

  .no-orders-heading {
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }

  .no-orders-description {
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .order-now-button {
    width: 93px;
    height: 32px;
  }
}